<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.congtuo.driverPort.mapper.bcOrderMapper" >
  <resultMap id="BaseResultMap" type="com.congtuo.driverPort.model.bcOrder" >
    <constructor >
      <idArg column="order_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="mobile" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="add_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="use_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="use_days" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="product_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="car_type_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="source_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="third_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="price" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="driver_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="depart" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="depart_detail" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="auditing_status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="rob_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="cancle_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="cancle_type" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="cancel_reason" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="cancle_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="add_type" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="add_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="del_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="city_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="termini_city" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="is_del" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="st_jw" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="rob_type" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="is_archive" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="order_uuid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="deviation_price" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="pay_type" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="original_price" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="refund_note" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="refund_price" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="refund_fail_reason" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="extra_price" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="extra_type" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="extra_orderid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="vip" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="introducer" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="introducer_type" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="introducer_is_val" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="coupon_user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="coupon_amount" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="extra_driver_price" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="refund_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.congtuo.driverPort.model.bcOrderWithBLOBs" >
    <constructor >
      <idArg column="order_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="mobile" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="add_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="use_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="use_days" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="product_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="car_type_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="source_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="third_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="price" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="driver_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="depart" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="depart_detail" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="auditing_status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="rob_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="cancle_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="cancle_type" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="cancel_reason" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="cancle_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="add_type" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="add_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="del_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="city_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="termini_city" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="is_del" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="st_jw" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="rob_type" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="is_archive" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="order_uuid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="deviation_price" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="pay_type" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="original_price" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="refund_note" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="refund_price" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="refund_fail_reason" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="extra_price" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="extra_type" jdbcType="BIT" javaType="java.lang.Boolean" />
      <arg column="extra_orderid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="vip" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="introducer" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="introducer_type" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="introducer_is_val" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="coupon_user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="coupon_amount" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="extra_driver_price" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="refund_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="tip_manager" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
      <arg column="tip_passenger" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
      <arg column="tip_driver" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    order_code, name, mobile, add_time, use_time, use_days, product_id, car_type_id, 
    source_id, third_code, price, driver_id, depart, depart_detail, status, auditing_status, 
    rob_time, cancle_id, cancle_type, cancel_reason, cancle_time, add_type, add_id, del_time, 
    city_code, termini_city, is_del, st_jw, rob_type, is_archive, order_uuid, deviation_price, 
    pay_type, original_price, refund_note, refund_price, refund_fail_reason, extra_price, 
    extra_type, extra_orderid, vip, introducer, introducer_type, introducer_is_val, coupon_user_id, 
    coupon_amount, extra_driver_price, refund_time
  </sql>
  <sql id="Blob_Column_List" >
    tip_manager, tip_passenger, tip_driver
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from bc_order
    where order_code = #{orderCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bc_order
    where order_code = #{orderCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.congtuo.driverPort.model.bcOrderWithBLOBs" >
    insert into bc_order (order_code, name, mobile, 
      add_time, use_time, use_days, 
      product_id, car_type_id, source_id, 
      third_code, price, driver_id, 
      depart, depart_detail, status, 
      auditing_status, rob_time, cancle_id, 
      cancle_type, cancel_reason, cancle_time, 
      add_type, add_id, del_time, 
      city_code, termini_city, is_del, 
      st_jw, rob_type, is_archive, 
      order_uuid, deviation_price, pay_type, 
      original_price, refund_note, refund_price, 
      refund_fail_reason, extra_price, extra_type, 
      extra_orderid, vip, introducer, 
      introducer_type, introducer_is_val, coupon_user_id, 
      coupon_amount, extra_driver_price, refund_time, 
      tip_manager, tip_passenger, tip_driver
      )
    values (#{orderCode,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{addTime,jdbcType=TIMESTAMP}, #{useTime,jdbcType=TIMESTAMP}, #{useDays,jdbcType=DOUBLE}, 
      #{productId,jdbcType=INTEGER}, #{carTypeId,jdbcType=INTEGER}, #{sourceId,jdbcType=INTEGER}, 
      #{thirdCode,jdbcType=VARCHAR}, #{price,jdbcType=REAL}, #{driverId,jdbcType=INTEGER}, 
      #{depart,jdbcType=VARCHAR}, #{departDetail,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{auditingStatus,jdbcType=INTEGER}, #{robTime,jdbcType=TIMESTAMP}, #{cancleId,jdbcType=INTEGER}, 
      #{cancleType,jdbcType=INTEGER}, #{cancelReason,jdbcType=VARCHAR}, #{cancleTime,jdbcType=TIMESTAMP}, 
      #{addType,jdbcType=INTEGER}, #{addId,jdbcType=INTEGER}, #{delTime,jdbcType=TIMESTAMP}, 
      #{cityCode,jdbcType=VARCHAR}, #{terminiCity,jdbcType=VARCHAR}, #{isDel,jdbcType=BIT}, 
      #{stJw,jdbcType=VARCHAR}, #{robType,jdbcType=INTEGER}, #{isArchive,jdbcType=BIT}, 
      #{orderUuid,jdbcType=VARCHAR}, #{deviationPrice,jdbcType=REAL}, #{payType,jdbcType=TINYINT}, 
      #{originalPrice,jdbcType=REAL}, #{refundNote,jdbcType=VARCHAR}, #{refundPrice,jdbcType=VARCHAR}, 
      #{refundFailReason,jdbcType=VARCHAR}, #{extraPrice,jdbcType=VARCHAR}, #{extraType,jdbcType=BIT}, 
      #{extraOrderid,jdbcType=VARCHAR}, #{vip,jdbcType=VARCHAR}, #{introducer,jdbcType=INTEGER}, 
      #{introducerType,jdbcType=TINYINT}, #{introducerIsVal,jdbcType=TINYINT}, #{couponUserId,jdbcType=INTEGER}, 
      #{couponAmount,jdbcType=DECIMAL}, #{extraDriverPrice,jdbcType=INTEGER}, #{refundTime,jdbcType=TIMESTAMP}, 
      #{tipManager,jdbcType=LONGVARCHAR}, #{tipPassenger,jdbcType=LONGVARCHAR}, #{tipDriver,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.congtuo.driverPort.model.bcOrderWithBLOBs" >
    insert into bc_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderCode != null" >
        order_code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="useTime != null" >
        use_time,
      </if>
      <if test="useDays != null" >
        use_days,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="carTypeId != null" >
        car_type_id,
      </if>
      <if test="sourceId != null" >
        source_id,
      </if>
      <if test="thirdCode != null" >
        third_code,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="driverId != null" >
        driver_id,
      </if>
      <if test="depart != null" >
        depart,
      </if>
      <if test="departDetail != null" >
        depart_detail,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="auditingStatus != null" >
        auditing_status,
      </if>
      <if test="robTime != null" >
        rob_time,
      </if>
      <if test="cancleId != null" >
        cancle_id,
      </if>
      <if test="cancleType != null" >
        cancle_type,
      </if>
      <if test="cancelReason != null" >
        cancel_reason,
      </if>
      <if test="cancleTime != null" >
        cancle_time,
      </if>
      <if test="addType != null" >
        add_type,
      </if>
      <if test="addId != null" >
        add_id,
      </if>
      <if test="delTime != null" >
        del_time,
      </if>
      <if test="cityCode != null" >
        city_code,
      </if>
      <if test="terminiCity != null" >
        termini_city,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="stJw != null" >
        st_jw,
      </if>
      <if test="robType != null" >
        rob_type,
      </if>
      <if test="isArchive != null" >
        is_archive,
      </if>
      <if test="orderUuid != null" >
        order_uuid,
      </if>
      <if test="deviationPrice != null" >
        deviation_price,
      </if>
      <if test="payType != null" >
        pay_type,
      </if>
      <if test="originalPrice != null" >
        original_price,
      </if>
      <if test="refundNote != null" >
        refund_note,
      </if>
      <if test="refundPrice != null" >
        refund_price,
      </if>
      <if test="refundFailReason != null" >
        refund_fail_reason,
      </if>
      <if test="extraPrice != null" >
        extra_price,
      </if>
      <if test="extraType != null" >
        extra_type,
      </if>
      <if test="extraOrderid != null" >
        extra_orderid,
      </if>
      <if test="vip != null" >
        vip,
      </if>
      <if test="introducer != null" >
        introducer,
      </if>
      <if test="introducerType != null" >
        introducer_type,
      </if>
      <if test="introducerIsVal != null" >
        introducer_is_val,
      </if>
      <if test="couponUserId != null" >
        coupon_user_id,
      </if>
      <if test="couponAmount != null" >
        coupon_amount,
      </if>
      <if test="extraDriverPrice != null" >
        extra_driver_price,
      </if>
      <if test="refundTime != null" >
        refund_time,
      </if>
      <if test="tipManager != null" >
        tip_manager,
      </if>
      <if test="tipPassenger != null" >
        tip_passenger,
      </if>
      <if test="tipDriver != null" >
        tip_driver,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderCode != null" >
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="useTime != null" >
        #{useTime,jdbcType=TIMESTAMP},
      </if>
      <if test="useDays != null" >
        #{useDays,jdbcType=DOUBLE},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="carTypeId != null" >
        #{carTypeId,jdbcType=INTEGER},
      </if>
      <if test="sourceId != null" >
        #{sourceId,jdbcType=INTEGER},
      </if>
      <if test="thirdCode != null" >
        #{thirdCode,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=REAL},
      </if>
      <if test="driverId != null" >
        #{driverId,jdbcType=INTEGER},
      </if>
      <if test="depart != null" >
        #{depart,jdbcType=VARCHAR},
      </if>
      <if test="departDetail != null" >
        #{departDetail,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="auditingStatus != null" >
        #{auditingStatus,jdbcType=INTEGER},
      </if>
      <if test="robTime != null" >
        #{robTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancleId != null" >
        #{cancleId,jdbcType=INTEGER},
      </if>
      <if test="cancleType != null" >
        #{cancleType,jdbcType=INTEGER},
      </if>
      <if test="cancelReason != null" >
        #{cancelReason,jdbcType=VARCHAR},
      </if>
      <if test="cancleTime != null" >
        #{cancleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addType != null" >
        #{addType,jdbcType=INTEGER},
      </if>
      <if test="addId != null" >
        #{addId,jdbcType=INTEGER},
      </if>
      <if test="delTime != null" >
        #{delTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cityCode != null" >
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="terminiCity != null" >
        #{terminiCity,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=BIT},
      </if>
      <if test="stJw != null" >
        #{stJw,jdbcType=VARCHAR},
      </if>
      <if test="robType != null" >
        #{robType,jdbcType=INTEGER},
      </if>
      <if test="isArchive != null" >
        #{isArchive,jdbcType=BIT},
      </if>
      <if test="orderUuid != null" >
        #{orderUuid,jdbcType=VARCHAR},
      </if>
      <if test="deviationPrice != null" >
        #{deviationPrice,jdbcType=REAL},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=TINYINT},
      </if>
      <if test="originalPrice != null" >
        #{originalPrice,jdbcType=REAL},
      </if>
      <if test="refundNote != null" >
        #{refundNote,jdbcType=VARCHAR},
      </if>
      <if test="refundPrice != null" >
        #{refundPrice,jdbcType=VARCHAR},
      </if>
      <if test="refundFailReason != null" >
        #{refundFailReason,jdbcType=VARCHAR},
      </if>
      <if test="extraPrice != null" >
        #{extraPrice,jdbcType=VARCHAR},
      </if>
      <if test="extraType != null" >
        #{extraType,jdbcType=BIT},
      </if>
      <if test="extraOrderid != null" >
        #{extraOrderid,jdbcType=VARCHAR},
      </if>
      <if test="vip != null" >
        #{vip,jdbcType=VARCHAR},
      </if>
      <if test="introducer != null" >
        #{introducer,jdbcType=INTEGER},
      </if>
      <if test="introducerType != null" >
        #{introducerType,jdbcType=TINYINT},
      </if>
      <if test="introducerIsVal != null" >
        #{introducerIsVal,jdbcType=TINYINT},
      </if>
      <if test="couponUserId != null" >
        #{couponUserId,jdbcType=INTEGER},
      </if>
      <if test="couponAmount != null" >
        #{couponAmount,jdbcType=DECIMAL},
      </if>
      <if test="extraDriverPrice != null" >
        #{extraDriverPrice,jdbcType=INTEGER},
      </if>
      <if test="refundTime != null" >
        #{refundTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tipManager != null" >
        #{tipManager,jdbcType=LONGVARCHAR},
      </if>
      <if test="tipPassenger != null" >
        #{tipPassenger,jdbcType=LONGVARCHAR},
      </if>
      <if test="tipDriver != null" >
        #{tipDriver,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.congtuo.driverPort.model.bcOrderWithBLOBs" >
    update bc_order
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="useTime != null" >
        use_time = #{useTime,jdbcType=TIMESTAMP},
      </if>
      <if test="useDays != null" >
        use_days = #{useDays,jdbcType=DOUBLE},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="carTypeId != null" >
        car_type_id = #{carTypeId,jdbcType=INTEGER},
      </if>
      <if test="sourceId != null" >
        source_id = #{sourceId,jdbcType=INTEGER},
      </if>
      <if test="thirdCode != null" >
        third_code = #{thirdCode,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=REAL},
      </if>
      <if test="driverId != null" >
        driver_id = #{driverId,jdbcType=INTEGER},
      </if>
      <if test="depart != null" >
        depart = #{depart,jdbcType=VARCHAR},
      </if>
      <if test="departDetail != null" >
        depart_detail = #{departDetail,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="auditingStatus != null" >
        auditing_status = #{auditingStatus,jdbcType=INTEGER},
      </if>
      <if test="robTime != null" >
        rob_time = #{robTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cancleId != null" >
        cancle_id = #{cancleId,jdbcType=INTEGER},
      </if>
      <if test="cancleType != null" >
        cancle_type = #{cancleType,jdbcType=INTEGER},
      </if>
      <if test="cancelReason != null" >
        cancel_reason = #{cancelReason,jdbcType=VARCHAR},
      </if>
      <if test="cancleTime != null" >
        cancle_time = #{cancleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addType != null" >
        add_type = #{addType,jdbcType=INTEGER},
      </if>
      <if test="addId != null" >
        add_id = #{addId,jdbcType=INTEGER},
      </if>
      <if test="delTime != null" >
        del_time = #{delTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cityCode != null" >
        city_code = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="terminiCity != null" >
        termini_city = #{terminiCity,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=BIT},
      </if>
      <if test="stJw != null" >
        st_jw = #{stJw,jdbcType=VARCHAR},
      </if>
      <if test="robType != null" >
        rob_type = #{robType,jdbcType=INTEGER},
      </if>
      <if test="isArchive != null" >
        is_archive = #{isArchive,jdbcType=BIT},
      </if>
      <if test="orderUuid != null" >
        order_uuid = #{orderUuid,jdbcType=VARCHAR},
      </if>
      <if test="deviationPrice != null" >
        deviation_price = #{deviationPrice,jdbcType=REAL},
      </if>
      <if test="payType != null" >
        pay_type = #{payType,jdbcType=TINYINT},
      </if>
      <if test="originalPrice != null" >
        original_price = #{originalPrice,jdbcType=REAL},
      </if>
      <if test="refundNote != null" >
        refund_note = #{refundNote,jdbcType=VARCHAR},
      </if>
      <if test="refundPrice != null" >
        refund_price = #{refundPrice,jdbcType=VARCHAR},
      </if>
      <if test="refundFailReason != null" >
        refund_fail_reason = #{refundFailReason,jdbcType=VARCHAR},
      </if>
      <if test="extraPrice != null" >
        extra_price = #{extraPrice,jdbcType=VARCHAR},
      </if>
      <if test="extraType != null" >
        extra_type = #{extraType,jdbcType=BIT},
      </if>
      <if test="extraOrderid != null" >
        extra_orderid = #{extraOrderid,jdbcType=VARCHAR},
      </if>
      <if test="vip != null" >
        vip = #{vip,jdbcType=VARCHAR},
      </if>
      <if test="introducer != null" >
        introducer = #{introducer,jdbcType=INTEGER},
      </if>
      <if test="introducerType != null" >
        introducer_type = #{introducerType,jdbcType=TINYINT},
      </if>
      <if test="introducerIsVal != null" >
        introducer_is_val = #{introducerIsVal,jdbcType=TINYINT},
      </if>
      <if test="couponUserId != null" >
        coupon_user_id = #{couponUserId,jdbcType=INTEGER},
      </if>
      <if test="couponAmount != null" >
        coupon_amount = #{couponAmount,jdbcType=DECIMAL},
      </if>
      <if test="extraDriverPrice != null" >
        extra_driver_price = #{extraDriverPrice,jdbcType=INTEGER},
      </if>
      <if test="refundTime != null" >
        refund_time = #{refundTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tipManager != null" >
        tip_manager = #{tipManager,jdbcType=LONGVARCHAR},
      </if>
      <if test="tipPassenger != null" >
        tip_passenger = #{tipPassenger,jdbcType=LONGVARCHAR},
      </if>
      <if test="tipDriver != null" >
        tip_driver = #{tipDriver,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where order_code = #{orderCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.congtuo.driverPort.model.bcOrderWithBLOBs" >
    update bc_order
    set name = #{name,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      use_time = #{useTime,jdbcType=TIMESTAMP},
      use_days = #{useDays,jdbcType=DOUBLE},
      product_id = #{productId,jdbcType=INTEGER},
      car_type_id = #{carTypeId,jdbcType=INTEGER},
      source_id = #{sourceId,jdbcType=INTEGER},
      third_code = #{thirdCode,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      driver_id = #{driverId,jdbcType=INTEGER},
      depart = #{depart,jdbcType=VARCHAR},
      depart_detail = #{departDetail,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      auditing_status = #{auditingStatus,jdbcType=INTEGER},
      rob_time = #{robTime,jdbcType=TIMESTAMP},
      cancle_id = #{cancleId,jdbcType=INTEGER},
      cancle_type = #{cancleType,jdbcType=INTEGER},
      cancel_reason = #{cancelReason,jdbcType=VARCHAR},
      cancle_time = #{cancleTime,jdbcType=TIMESTAMP},
      add_type = #{addType,jdbcType=INTEGER},
      add_id = #{addId,jdbcType=INTEGER},
      del_time = #{delTime,jdbcType=TIMESTAMP},
      city_code = #{cityCode,jdbcType=VARCHAR},
      termini_city = #{terminiCity,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=BIT},
      st_jw = #{stJw,jdbcType=VARCHAR},
      rob_type = #{robType,jdbcType=INTEGER},
      is_archive = #{isArchive,jdbcType=BIT},
      order_uuid = #{orderUuid,jdbcType=VARCHAR},
      deviation_price = #{deviationPrice,jdbcType=REAL},
      pay_type = #{payType,jdbcType=TINYINT},
      original_price = #{originalPrice,jdbcType=REAL},
      refund_note = #{refundNote,jdbcType=VARCHAR},
      refund_price = #{refundPrice,jdbcType=VARCHAR},
      refund_fail_reason = #{refundFailReason,jdbcType=VARCHAR},
      extra_price = #{extraPrice,jdbcType=VARCHAR},
      extra_type = #{extraType,jdbcType=BIT},
      extra_orderid = #{extraOrderid,jdbcType=VARCHAR},
      vip = #{vip,jdbcType=VARCHAR},
      introducer = #{introducer,jdbcType=INTEGER},
      introducer_type = #{introducerType,jdbcType=TINYINT},
      introducer_is_val = #{introducerIsVal,jdbcType=TINYINT},
      coupon_user_id = #{couponUserId,jdbcType=INTEGER},
      coupon_amount = #{couponAmount,jdbcType=DECIMAL},
      extra_driver_price = #{extraDriverPrice,jdbcType=INTEGER},
      refund_time = #{refundTime,jdbcType=TIMESTAMP},
      tip_manager = #{tipManager,jdbcType=LONGVARCHAR},
      tip_passenger = #{tipPassenger,jdbcType=LONGVARCHAR},
      tip_driver = #{tipDriver,jdbcType=LONGVARCHAR}
    where order_code = #{orderCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.congtuo.driverPort.model.bcOrder" >
    update bc_order
    set name = #{name,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      use_time = #{useTime,jdbcType=TIMESTAMP},
      use_days = #{useDays,jdbcType=DOUBLE},
      product_id = #{productId,jdbcType=INTEGER},
      car_type_id = #{carTypeId,jdbcType=INTEGER},
      source_id = #{sourceId,jdbcType=INTEGER},
      third_code = #{thirdCode,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      driver_id = #{driverId,jdbcType=INTEGER},
      depart = #{depart,jdbcType=VARCHAR},
      depart_detail = #{departDetail,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      auditing_status = #{auditingStatus,jdbcType=INTEGER},
      rob_time = #{robTime,jdbcType=TIMESTAMP},
      cancle_id = #{cancleId,jdbcType=INTEGER},
      cancle_type = #{cancleType,jdbcType=INTEGER},
      cancel_reason = #{cancelReason,jdbcType=VARCHAR},
      cancle_time = #{cancleTime,jdbcType=TIMESTAMP},
      add_type = #{addType,jdbcType=INTEGER},
      add_id = #{addId,jdbcType=INTEGER},
      del_time = #{delTime,jdbcType=TIMESTAMP},
      city_code = #{cityCode,jdbcType=VARCHAR},
      termini_city = #{terminiCity,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=BIT},
      st_jw = #{stJw,jdbcType=VARCHAR},
      rob_type = #{robType,jdbcType=INTEGER},
      is_archive = #{isArchive,jdbcType=BIT},
      order_uuid = #{orderUuid,jdbcType=VARCHAR},
      deviation_price = #{deviationPrice,jdbcType=REAL},
      pay_type = #{payType,jdbcType=TINYINT},
      original_price = #{originalPrice,jdbcType=REAL},
      refund_note = #{refundNote,jdbcType=VARCHAR},
      refund_price = #{refundPrice,jdbcType=VARCHAR},
      refund_fail_reason = #{refundFailReason,jdbcType=VARCHAR},
      extra_price = #{extraPrice,jdbcType=VARCHAR},
      extra_type = #{extraType,jdbcType=BIT},
      extra_orderid = #{extraOrderid,jdbcType=VARCHAR},
      vip = #{vip,jdbcType=VARCHAR},
      introducer = #{introducer,jdbcType=INTEGER},
      introducer_type = #{introducerType,jdbcType=TINYINT},
      introducer_is_val = #{introducerIsVal,jdbcType=TINYINT},
      coupon_user_id = #{couponUserId,jdbcType=INTEGER},
      coupon_amount = #{couponAmount,jdbcType=DECIMAL},
      extra_driver_price = #{extraDriverPrice,jdbcType=INTEGER},
      refund_time = #{refundTime,jdbcType=TIMESTAMP}
    where order_code = #{orderCode,jdbcType=VARCHAR}
  </update>
</mapper>